html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #eee;
}

.form-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  transition: all 0.3s;
}

.change .form-wrapper {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.3s;
}

.contact-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 15rem;
}

@media screen and (max-width: 700px) {
  .contact-form {
    padding: 0 5rem;
  }
}

.form-heading {
  font-size: 4rem;
  color: #333;
}

.input-groups {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.input-group {
  width: 40rem;
  height: 6rem;
}

.field-label {
  font-size: 1.4rem;
  color: #888;
}

.field {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 0.2rem solid #bbb;
  font-size: 1.5rem;
  padding: 0 0 0rem 0;
  transition: border-bottom 0.3s ease-in-out;
  font-family: "Open Sans";
}

.field:focus {
  outline: none;
  border-bottom: 0.2rem solid var(--gold);
}

.field::placeholder {
  color: #222;
  transition: color 0.3s;
}

.field:focus::placeholder {
  color: transparent;
}

.textarea-group {
  display: flex;
  flex-direction: column;
}

.textarea-group textarea {
  height: 12rem;
  border-bottom: 0.2rem solid #bbb;
  padding-top: 1rem;
  resize: none;
}

.submit-btn {
  width: 18rem;
  height: 5rem;
  background-color: var(--gold);
  border: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  box-shadow: 0 0.3rem 1rem rgba(250, 186, 36, 0.5);
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn:hover {
  background-color: #333;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.submit-btn span {
  position: absolute;
  color: #fff;
}

.contact-form p {
  font-size: 1.6rem;
  color: #888;
}

.contact-form p span {
  color: var(--gold);
}
